<!doctype html>
<html lang="ja">

<head>
  <title>OpenStack Dashboard</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap" rel="stylesheet">
  <link href="./css/dashboard.css" rel="stylesheet">

  <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
</head>

<body>
  <a id="skippy" class="sr-only sr-only-focusable" href="#content">
    <div class="container">
      <span class="skiplink-text">Skip to main content</span>
    </div>
  </a>

  <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <!-- <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Company name</a> -->
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">OpenStack Dashboard</a>
    <!-- <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search"> -->
    <input class="form-control form-control-dark w-100" type="text" placeholder="検索" aria-label="検索">
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <!-- <a class="nav-link" href="#">Sign out</a> -->
        <a class="nav-link" href="javascript:void(0);" onclick="onLogout()">Logout</a>
      </li>
    </ul>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="javascript:void(0);"
                onclick="location.href = '/dashboard?token=' + Cookies.get('jwttoken');">
                <span data-feather="bar-chart-2"></span>
                Overview<span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="javascript:void(0);"
                onclick="location.href = '/instances?token=' + Cookies.get('jwttoken');">
                <span data-feather="cpu"></span>
                Instance
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="javascript:void(0);">
                <span data-feather="shield"></span>
                Security Group (Coming soon)
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="javascript:void(0);">
                <span data-feather="git-commit"></span>
                Network (Coming soon)
              </a>
            </li>
          </ul>
        </div>
      </nav>

      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div
          class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Overview</h1>
        </div>

        <h3>Resource Quota</h3>
        <div class="row">
          <div class="col-md">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Instance</h5>
                <h6 class="card-subtitle mb-2 text-muted" id="instance-quota"></h6>
                <div class="progress">
                  <div class="progress-bar progress-bar-striped progress-bar-animated" id="instance-progress"
                    role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">CPU</h5>
                <h6 class="card-subtitle mb-2 text-muted" id="cpu-quota"></h6>
                <div class="progress">
                  <div class="progress-bar progress-bar-striped progress-bar-animated" id="cpu-progress"
                    role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Memory</h5>
                <h6 class="card-subtitle mb-2 text-muted" id="memory-quota"></h6>
                <div class="progress">
                  <div class="progress-bar progress-bar-striped progress-bar-animated" id="memory-progress"
                    role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </main>
    </div>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/superagent@6.1.0/dist/superagent.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>

  <script>
    var request = window.superagent;

    onLoad();

    function onLogout() {
      Cookies.remove("jwttoken");
      location.href = "/";
    }

    function onLoad() {
      getQuota();
    }

    function getQuota() {
      request.get("/api/getquotas?token=" + Cookies.get("jwttoken")).end(function (err, res) {
        if (res.body.success) {
          // OK
          var quota_set = JSON.parse(res.body.body).quota_set;
          /* Instance */
          $('#instance-quota').text(quota_set.instances.in_use + " / " + quota_set.instances.limit);
          updateProgress(quota_set.instances.in_use, quota_set.instances.limit, "instance-progress");
          /* CPU */
          $('#cpu-quota').text(quota_set.cores.in_use + " / " + quota_set.cores.limit);
          updateProgress(quota_set.cores.in_use, quota_set.cores.limit, "cpu-progress");
          /* Memory */
          $('#memory-quota').text(quota_set.ram.in_use + "MB / " + quota_set.ram.limit + "MB");
          updateProgress(quota_set.ram.in_use, quota_set.ram.limit, "memory-progress");
        } else {
          // Bad
        }
      });
    }

    function updateProgress(in_use, limit, id) {
      var parcent = in_use / limit * 100;
      $('#' + id).prop("aria-valuenow", parcent);
      $('#' + id).prop("style", "width: " + parcent + "%;");
    }
  </script>

  <!-- Icons -->
  <script>
    feather.replace()
  </script>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script>
    window.jQuery || document.write('<script src="/docs/4.4/assets/js/vendor/jquery-slim.min.js"><\/script>')
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
</body>

</html>