<!doctype html>
<html lang="ja">

<head>
  <title>OpenStack Dashboard</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap" rel="stylesheet">
  <link href="./css/dashboard.css" rel="stylesheet">

  <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
</head>

<body>
  <a id="skippy" class="sr-only sr-only-focusable" href="#content">
    <div class="container">
      <span class="skiplink-text">Skip to main content</span>
    </div>
  </a>

  <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <!-- <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Company name</a> -->
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">OpenStack Dashboard</a>
    <!-- <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search"> -->
    <input class="form-control form-control-dark w-100" type="text" placeholder="検索" aria-label="検索">
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <!-- <a class="nav-link" href="#">Sign out</a> -->
        <a class="nav-link" href="javascript:void(0);" onclick="onLogout()">Logout</a>
      </li>
    </ul>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="javascript:void(0);"
                onclick="location.href = '/dashboard?token=' + Cookies.get('jwttoken');">
                <span data-feather="bar-chart-2"></span>
                Overview
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="javascript:void(0);"
                onclick="location.href = '/instances?token=' + Cookies.get('jwttoken');">
                <span data-feather="cpu"></span>
                Instance<span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="javascript:void(0);">
                <span data-feather="shield"></span>
                Security Group (Coming soon)
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="javascript:void(0);">
                <span data-feather="git-commit"></span>
                Network (Coming soon)
              </a>
            </li>
          </ul>
        </div>
      </nav>

      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div
          class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Instances</h1>
          <div class="btn-toolbar mb-2 mb-md-0">
            <button type="button" class="btn btn-sm btn-outline-secondary" onclick="onCreateModalOpen();">Create new
              instance</button>
          </div>
        </div>

        <h3>Instance list</h3>
        <div class="table-responsive">
          <table class="table table-striped table-sm">
            <thead>
              <tr>
                <th>Name</th>
                <th>IP Addresses</th>
                <th>CPU</th>
                <th>Memory</th>
                <th>Security Group</th>
                <th>Status</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody id="instance-list">
            </tbody>
          </table>
        </div>

        <div class="progress" id="loadprogress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100"
            aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
        </div>
      </main>
    </div>
  </div>

  <div class="modal" id="detailModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="detailServerName"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="detailServerBody">
          <p>Modal body text goes here.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal" id="createModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Create a new instance</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="detailServerBody">
          <form>
            <div class="form-group">
              <label for="ci-name">Instance name</label>
              <input class="form-control form-control-sm" id="ci-name" type="text" placeholder="instance name">
            </div>
            <div class="form-group">
              <label for="ci-os">OS</label>
              <select class="form-control form-control-sm" id="ci-os">
                <option>Small select</option>
              </select>
            </div>
            <div class="form-group">
              <label for="ci-size">Instance size</label>
              <select class="form-control form-control-sm" id="ci-size">
                <option>Small select</option>
              </select>
            </div>
            <div class="form-group">
              <label for="ci-password">Instance password</label>
              <input class="form-control form-control-sm" id="ci-password" type="password"
                placeholder="instance password">
              <small class="form-text text-muted">Set password to your instance's default user.</small>
            </div>
          </form>
          <div class="progress" id="ci-progressbar">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100"
              aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
          </div>
          <div class="alert alert-danger" role="alert" id="ci-alert">
            A simple danger alert—check it out!
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" onclick="onCreateInstance();"
            id="ci-createbutton">Create</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal" id="deleteModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteTitle">Create a new instance</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="detailServerBody">
          <div class="alert alert-danger" role="alert" id="ci-alert">
            Are you sure you want to delete? <strong>This operation cannot be undone.</strong>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" id="deleteButton" id="ci-createbutton">Delete</button>
        </div>
      </div>
    </div>
  </div>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/superagent/4.1.0/superagent.min.js"
    integrity="sha512-LJaxxgpiq7SihGQ21nejROsll6FRrgbs0Wxtgqb5x+Q0CJICA3vt8hlBxSD8NLsO+Yabgg3B7ARexiijKiojGg=="
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script>
    window.jQuery || document.write('<script src="/docs/4.4/assets/js/vendor/jquery-slim.min.js"><\/script>')
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>

  <script>
    var request = window.superagent;

    var flavorList;

    onLoad();

    function onLogout() {
      Cookies.remove("jwttoken");
      location.href = "/";
    }

    function onLoad() {
      $('#ci-progressbar').hide();
      $('#ci-alert').hide();
      getFlavorList().then(function () {
        getInstanceList();
      });
    }

    function getFlavorList() {
      return new Promise(function (resolve, reject) {
        request.get("http://localhost:3000/api/getflavors?token=" + Cookies.get("jwttoken")).end(function (err, res) {
          if (res.body.success) {
            // OK
            flavorList = JSON.parse(res.body.body).flavors;
            resolve();
          } else {
            // Bad
            reject();
          }
        });
      })
    }

    function getInstanceList() {
      request.get("http://localhost:3000/api/getinstances?token=" + Cookies.get("jwttoken")).end(function (err, res) {
        if (res.body.success) {
          // OK
          var instanceList = JSON.parse(res.body.body).servers;
          $('#instance-list').html("");
          for (var instance of instanceList) {
            var flavorId = instance.flavor.id;
            var cpu;
            var memory;
            for (var f of flavorList) {
              if (f.id == flavorId) {
                cpu = f.vcpus;
                memory = f.ram;
              }
            }
            generateList(instance.name, instance.addresses, cpu, memory, instance.security_groups, instance.status, instance.id)
          }
          // 
          $('#loadprogress').hide();
        } else {
          // Bad
        }
      });
    }

    function onCreateInstance() {
      $('#ci-createbutton').prop('disabled', true);
      $('#ci-progressbar').show();
      $('#ci-alert').hide();
      var name = $('#ci-name').val();
      var os = $('#ci-os').val();
      var size = $('#ci-size').val();
      var password = $('#ci-password').val();
      request.post("http://localhost:3000/api/createinstance?token=" + Cookies.get("jwttoken")).send({ name: name, image: os, flavor: size, password: password }).end(function (err, res) {
        if (res.body.success) {
          // OK
          var result = res.body.body.server;
          $('#ci-createbutton').prop('disabled', false);
          $('#ci-progressbar').hide();
          $('#createModal').modal('hide');
          // 
          $('#loadprogress').show();
          // 
          timerId = setInterval(function () {
            var text = $('#instance-list').html();
            if (text.includes(result.id) && !text.includes("BUILD")) {
              // 
              $('#loadprogress').hide();
              clearInterval(timerId);
            }
            getInstanceList();
          }, 1000);
        } else {
          // Bad
          var errorMsgKeys = Object.keys(res.body.msg);
          var errorText = "";
          for (var key of errorMsgKeys) {
            errorText += res.body.msg[key].message
          }
          $('#ci-alert').text(errorText)
          $('#ci-alert').show();
          $('#ci-progressbar').hide();
          $('#ci-createbutton').prop('disabled', false);
        }
      });
    }

    function onCreateModalOpen() {
      // Open Modal
      $('#createModal').modal('show');
      // Set contents.
      $('#ci-size').text("");
      for (var f of flavorList) {
        $('#ci-size').append("<option value=\'" + f.id + "\'>" + f.name + " (vCPU : " + f.vcpus + "Core, Memory : " + f.ram + "MB, Disk : " + f.disk + "GB)</option>");
      }
      // Get Image list.
      $('#ci-os').text("");
      request.get("http://localhost:3000/api/getimages?token=" + Cookies.get("jwttoken")).end(function (err, res) {
        if (res.body.success) {
          // OK
          imageList = JSON.parse(res.body.body).images;
          for (var i of imageList) {
            $('#ci-os').append("<option value=\'" + i.id + "\'>" + i.name + "</option>");
          }
        } else {
          // Bad

        }
      });
    }

    function onDetail(serverid) {
      // Open Modal
      $('#detailModal').modal('show');
      // 
      request.post("http://localhost:3000/api/getinstancedetail?token=" + Cookies.get("jwttoken")).send({ serverid: serverid }).end(function (err, res) {
        if (res.body.success) {
          // OK
          var detail = JSON.parse(res.body.body).server;
          $('#detailServerName').text(detail.name);
          $('#detailServerBody').html("<p>" + JSON.stringify(detail) + "</p>")
        } else {
          // Bad
        }
      });
    }

    function openDeleteModal(serverid, name) {
      // Open Modal
      $('#deleteModal').modal('show');
      $('#deleteTitle').text("Delete instance : " + name);
      $('#deleteButton').on('click', function () {
        onDelete(serverid);
        $('#deleteModal').modal('hide');
      });
    }

    function onDelete(serverid) {
      // 
      $('#loadprogress').show();
      request.post("http://localhost:3000/api/deleteinstance?token=" + Cookies.get("jwttoken")).send({ serverid: serverid }).end(function (err, res) {
        if (res.body.success) {
          // OK
          timerId = setInterval(function () {
            var text = $('#instance-list').html();
            if (!text.includes(serverid)) {
              // 
              $('#loadprogress').hide();
              clearInterval(timerId);
            }
            getInstanceList();
          }, 1000);
          setTimeout(onLoad, 1500);
        } else {
          // Bad
        }
      });
    }

    function generateList(name, ipaddreses, cpu, memory, securitygroup, status, serverid) {
      var dom = "<tr>";
      dom += "<td>" + name + "</td>";
      try {
        var keys = Object.keys(ipaddreses)
        for (var key of keys) {
          var ipaddressesList = ipaddreses[key];
          var ipText = [];
          for (var i of ipaddressesList) {
            ipText.push(i.addr);
          }
        }
        dom += "<td>" + ipText.toString().replace(",", ", ") + "</td>";
      } catch {
        dom += "<td></td>";
      }
      dom += "<td>" + cpu + "Core</td>";
      dom += "<td>" + memory + "MB</td>";
      try {
        var sgText = [];
        for (var j of securitygroup) {
          sgText.push(j.name);
        }
        dom += "<td>" + sgText.toString().replace(",", ", ") + "</td>";
      } catch {
        dom += "<td></td>";
      }
      dom += "<td>" + status + "</td>";
      dom += '<td><div class="btn-group"><button class="btn btn-outline-dark btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Actions</button><div class="dropdown-menu"><a class="dropdown-item" href="javascript:void(0);" onclick="onDetail(\'' + serverid + '\');">Show detail</a><div class="dropdown-divider"></div><a class="dropdown-item text-danger" href="javascript:void(0);" onclick="openDeleteModal(\'' + serverid + '\', \'' + name + '\');">Delete instance</a></div></div></td>';
      $('#instance-list').append(dom);
    }

  </script>

  <!-- Icons -->
  <script>
    feather.replace()
  </script>

</body>

</html>