<!doctype html>
<html lang="ja">

<head>
  <title>OpenStack Dashboard</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap" rel="stylesheet">
</head>

<body>
  <div class="container" style="max-width: 500px !important;">
    <div class="d-flex align-items-center" style="height: 100vh;">
      <div class="card" style="width: 500px">
        <div class="card-header">OpenStack Dashboard</div>
        <div class="card-body">
          <h5 class="card-title">Login</h5>
          <form>
            <div class="form-group" style="margin-bottom: 1rem;">
              <label for="exampleInputEmail1" style="margin-bottom: .5rem;">Username</label>
              <input type="text" class="form-control" id="usernameInput" placeholder="admin">
            </div>
            <div class="form-group" style="margin-bottom: 1rem;">
              <label for="exampleInputPassword1" style="margin-bottom: .5rem;">Password</label>
              <input type="password" class="form-control" id="passwordInput" placeholder="password">
            </div>
            <div class="alert alert-danger" role="alert" id="alert" style="display: none;">
              ユーザー名またはパスワードが間違っています。
            </div>
            <button type="button" id="loginButton" class="btn btn-primary float-end" onclick="login()">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/superagent@6.1.0/dist/superagent.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>

  <script>
    var request = window.superagent;

    function login() {
      $("#loginButton").prop('disabled', true);
      request.post("/api/login").send({ username: $("#usernameInput").val(), password: $("#passwordInput").val() }).end(function (err, res) {
        if (!err) {
          if (res.body.success) {
            // OK
            Cookies.set("jwttoken", res.body.jwttoken, { expires: 1 })
            location.href = "/dashboard"
          } else {
            // Bad
            $("#loginButton").prop('disabled', false);
            $('#alert').show();
          }
        } else {
          // Error
          $("#loginButton").prop('disabled', false);
          console.error(err);
        }
      });
    }
  </script>


  <!-- Icons -->
  <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
  <script>
    feather.replace()
  </script>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script>
    window.jQuery || document.write('<script src="/docs/4.4/assets/js/vendor/jquery-slim.min.js"><\/script>')
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
</body>

</html>